{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="static/icons/pass-fail-64.png">
    <link rel="stylesheet" href="static/stylesheets/quiz.css">
{% endblock %}

{% block content %}

    {% if not show_correct_answer %}

        <div class="question-container">

            <p style="text-align: right; font-size: x-small">Вопрос № {{ current_question }}
                из {{ total_questions }}</p>

            <form method="post">
                <div class="question-text">
                    {{ question.question }}
                </div>

                {% if question.picture %}
                    <img width="50%" height="50%" src="static/pictures/{{ question.picture }}">
                {% endif %}

                {% for answer in question.answers(seed=random_seed) %}
                    <div class="answer">
                        <input type="checkbox" name="{{ answer }}"> {{ answer }}
                    </div>
                {% endfor %}

                <div style="text-align: right">
                    <input class="question-submit" type="submit" value="Ответить">
                </div>
            </form>
        </div>

    {% else %}

        <div class="question-container">

            <p style="text-align: right; font-size: x-small">Вопрос № {{ current_question }}
                из {{ total_questions }}</p>

            <form method="get">
                <div class="question-text">
                    {{ question.question }}
                </div>

                {% if question.picture %}
                    <img width="50%" height="50%" src="static/pictures/{{ question.picture }}">
                {% endif %}

                {% for answer in question.answers(seed=random_seed) %}
                    <div class="answer">
                        {% if answer in chosen_answers %}
                            <input type="checkbox" disabled checked>
                        {% else %}
                            <input type="checkbox" disabled>
                        {% endif %}

                        {% if answer in question.correct %}
                            <span class="correct-answer">{{ answer }}</span>
                        {% else %}
                            <span class="incorrect-answer">{{ answer }}</span>
                        {% endif %}
                    </div>

                {% endfor %}

                <div class="correctness-status">
                    {% if score %}
                        <span class="correct-answer">"+"</span>
                    {% else %}
                        <span class="incorrect-answer">"−"</span>
                    {% endif %}
                </div>

                <div style="text-align: right">
                    <input class="question-submit" type="submit" value="Продолжить">
                </div>
            </form>
        </div>

    {% endif %}

{% endblock %}