.question-container {
    margin: 100px auto;
    width: 50%;
    background-color: burlywood;
    text-align: left;
    box-shadow: 5px 5px slategrey;
    border-radius: 3px;
    padding: 10px;
}

.question-text {
    text-align: left;
    font-weight: bolder;
    font-size: large;
    margin: 9px 9px 20px 9px;
}

.answer {
    margin: 9px 9px 9px 40px;
}

.correct-answer {
    color: darkgreen;
    font-weight: bold;
}

.incorrect-answer {
    color: firebrick;
}

.correctness-status {
    font-weight: bolder;
    text-align: center;
}

.quiz-result {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#name-input {
    width: 50%;
    margin: 10px 10px;
    text-align: center;
}

input[type="submit"] {
    width: 20%;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}